<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ticeapp.TICE">

    <application
        android:name="tice.TICEApplication">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="beekeeper_secret"
            android:value="${beekeeperSecret}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsAPIKey}" />

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="tice.managers.messaging.FirebaseReceiverService"
            tools:node="remove"
            android:exported="false" />

        <service
            android:name="tice.managers.messaging.FirebaseReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
