<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ticeapp.TICE">

    <application
        android:name="tice.TICEApplication"
        android:networkSecurityConfig="@xml/network_security_config">
        <meta-data
            android:name="cnc_base_url"
            android:value="${cncBaseURL}" />
        <meta-data
            android:name="development_verification_code"
            android:value="${developmentVerificationCode}" />
    </application>

</manifest>
